<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/roof-logo.png" alt="Give Me a Roof logo" class="img-fluid">
    <span>Give Me a Roof</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Adopción</a>
      </li>
      <li class="nav-item icon-item">
        <!-- Facebook -->
        <a class="nav-link" href="#">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li class="nav-item icon-item">
        <!-- Twitter -->
        <a class="nav-link" href="#">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li class="nav-item icon-item">
        <!-- Instagram -->
        <a class="nav-link" href="#">
          <i class="icon icon-instagram"></i>
        </a>
      </li>
      <li class="nav-item icon-item">
        <!-- YouTube -->
        <a class="nav-link" href="#">
          <i class="icon icon-youtube-alt"></i>
        </a>
      </li>
      <li class="nav-item donation">
        <a class="nav-link" routerLink="">Dona</a>
      </li>
      <li class="nav-item stripes">
        <a class="nav-link" href="#">
          <i class="icon icon-three-bars"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>