@import '../../../sass/base';

.container {
  margin-top: 25px;
  height: 75vh;
  overflow-y: auto;

  .dogs-container {
    width: 85%;
    margin: 0 auto;

    button {
      width: 100%;
      padding: 10px 15px;

      @include medium {
        width: auto;
        display: block;
        margin-left: auto;
      }
    }
  }
}
