<div class="home">
  <div class="col text-white">
    <h1 class="title">Salva un amigo.</h1>
    <p>
        Existen demasiados perros y gatos callejeros y no queremos m&aacute;s. Los callejeritos sufren hambre,
        fr&iacute;o, enfermedades y son lastimados. Hemos decidido rescatarlos, sanarlos y ponerlos en adopci&oacute;n,
        pero no podemos hacerlo solos.
    </p>
    <section>
      <button class="btn btn-outline-light btn-sm">&iquest;C&oacute;mo puedo ayudar?</button>
      <button class="btn btn-outline-light btn-sm" (click)="showDogs()">Quiero adoptar</button>
    </section>
  </div>
</div>
