@import '../../sass/base';

.home {
    height: 75vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: $font-primary;

    .content {
        padding: 0 15px;
        width: 100%;
        height: 70%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include medium {
            width: 42%;
            text-align: left;
            margin-left: 5%;
            padding: 0;
        }

        .button-container {
            /* Alinea los dos botones, dado que se encuentran dentro de la seccion */
            align-self: center;
            width: 100%;
            margin-top: 15px;

            @include medium {
                margin-top: 0;
            }

            .btn {
                /* La mayor parte del boton esta definida como clase btn-outline-light de bootstrap */
                margin: 5px;
                margin-bottom: 10px;
                border-radius: 50px;
                font-size: 14px;
                padding: 10px;
                width: 85%;

                @include medium {
                    width: auto;
                    margin-bottom: 0;
                }
            }
    
            .btn:focus {
                outline: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }

    }
}

