<div class="home">
    <div class="col text-white">
        <h1 class="title">Salva un amigo.</h1>
        <p>
            Existen demasiados perros y gatos callejeros y no queremos más. Los callejeritos sufren hambre,
            frío, enfermedades y son lastimados. Hemos decidido rescatarlos, sanarlos y ponerlos en adopción,
            pero no podemos hacerlo solos.
        </p>
        <section>
            <button class="btn btn-outline-light">&iquest;C&oacute;mo puedo ayudar?</button>
            <button class="btn btn-outline-light">Quiero adoptar</button>
        </section>
    </div>
</div>
