<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h2>Log In</h2>
  
          <form [formGroup]="loginForm" (ngSubmit)="login(loginData)">
              <input type="text" placeholder="E-mail" formControlName="email" class="form-control">
              <input type="password" placeholder="Password" formControlName="password" class="form-control">
              <button class="btn btn-primary">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>