.dog-container {
  background-color: rgba(0, 0, 0, 0.85);
  border: none;
  border-radius: 7px;
  margin-bottom: 15px;
  color: #fff;

  .dog-photo {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .dog-details {
    padding: 15px;

    h2 {
      font-size: 20px;
      margin: 0;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;

      &.dog-age {
        text-align: right;
      }
    }

    .buttons-container {
      display: flex;
      justify-content: center;

      button {
        width: 50%;

        &.btn-secondary {
          background: transparent;
        }

        & + button {
          font-size: 16px; 
          margin-left: 15px;
        }
      }
    }
  }
}