<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h2>Sign Up</h2>
  
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="row">
              <!-- Name -->
              <div class="col-12 col-md-6 first-name-container">
                <input type="text" placeholder="First name" formControlName="name" class="form-control" autofocus>
              </div>
              <div class="col-12 col-md-6 last-name-container">
                <input type="text" placeholder="Last name" formControlName="lastName" class="form-control">
              </div>

              <!-- Email & Password -->
              <div class="col-12 mb-3">
                <input type="text" placeholder="E-mail" formControlName="email" class="form-control mb-2">
                <input type="password" placeholder="Password" formControlName="password" class="form-control mb-2">
                <input type="password" placeholder="Confirm password" formControlName="confirm_password" class="form-control mb-2">
              </div>
            </div>

            <button class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>