@import '../../../sass/base';

.row {
  height: 75vh;
  display: flex;
  align-items: center;
  color: $font-primary;
}

.card {
  padding-top: 5%;
  border-radius: 10px;
  background-color: $background-primary;

  .row {
    height: auto;
  }

  .first-name-container {
    @include medium {
      padding-right: 5px;
      margin-bottom: 10px;
    }
  }

  .last-name-container {
    @include medium {
      padding-left: 5px;
      margin-bottom: 10px;
    }
  }

  h2{
      text-align: center;
      margin: 2% 0 5% 0;
  }

  input {
      margin-bottom: 5%;
  }

  button {
    width: 100%;
    font-size: 18px;
    padding: 10px 0;

    @include medium {
        width: auto;
        padding: 10px 15px;
        display: block;
        margin-left: auto;
    }
  }
}