<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h2>Sign Up</h2>
  
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <input type="text" placeholder="First name" formControlName="name" class="form-control">
            <input type="text" placeholder="Last name" formControlName="lastName" class="form-control">
            <input type="text" placeholder="E-mail" formControlName="email" class="form-control">
            <input type="password" placeholder="Password" formControlName="password" class="form-control">
            <input type="password" placeholder="Confirm password" formControlName="confirmPassword" class="form-control">

            <button class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>